
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        
        </button>
        <span (click)="appname()">CricPlayer </span>
        <span class="example-spacer" *ngIf="userlogin"> Welcome {{user}}</span>
        <span class="example-spacer" *ngIf="!userlogin"> </span>
      
        <a  mat-button routerLink="/fav">Fav Player</a>
        <a  mat-button routerLink="/upcomingMatches">Upcoming Matches</a>
        <a  mat-button  *ngIf="!userlogin" routerLink="/login">Login</a>
       
        <a  mat-button  *ngIf="userlogin" routerLink="/logout"  (click)="logout()" (click)="refresh()">Logout</a>
      
    </mat-toolbar>


