
    <mat-toolbar color="primary">
        <a  mat-raised-button color="warn" routerLink="/dashboard">CricPlayer</a>
        
        <span class="example-spacer" *ngIf="userlogin"> Welcome {{user}}</span>
        <span class="example-spacer" *ngIf="!userlogin"> </span>
        <div class="example-button-row">
        <a  mat-raised-button color="warn" routerLink="/fav">Your Favourites</a>
        <a  mat-raised-button color="warn" routerLink="/upcomingMatches">Upcoming Matches</a>
        <a  mat-raised-button color="warn" *ngIf="!userlogin" routerLink="/login">Login</a></div>
       
        <a  mat-raised-button color="warn" *ngIf="userlogin" routerLink="/logout"  (click)="logout()" (click)="refresh()">Logout</a>
      
    </mat-toolbar>


