<mat-card class="inline-block" >


  <mat-card-header >

    <mat-card-title>
      {{description.name}}
    </mat-card-title>
   
  </mat-card-header>
  <!-- <div *ngIf="description.imageURL!=null; else elseBlock">
      <img mat-card-image src="{{description.imageURL}}" alt="" >
    </div>
    <ng-template #elseBlock>
      <img mat-card-image src='../../assets/images/dummy.jpg' alt="">
    </ng-template> -->
    <span class="profile">
    {{description.profile}}
  </span>
   
  <mat-card-content>
    <table     >
      <tr>
        <td>
          Major Teams
        </td>
        <td>
          {{description.majorTeams}}
        </td>

      </tr>

      <tr>
        <td>Batting Style</td>
        <td> {{description.battingStyle}}</td>
      </tr>

      <tr>
        <td>Bowling Style</td>
        <td> {{description.bowlingStyle}}</td>
      </tr>
      <!-- <tr>
        <td colspan="2">{{description.profile}}</td>
      </tr> -->
      <tr>
        <td> Age </td>
        <td> {{description.currentAge}}</td>
      </tr>
      
    </table>


    <br>

  </mat-card-content>
</mat-card>

<mat-dialog-actions align="center">
  <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>