<div class="sidebar hidden-sm-down">
  <ul class="nav in" id="side-menu">

      <li class="user-pro" *ngIf="isUser()">
          <a href="#" class="text-center">
  
              <span>Welcome  {{user}}</span>
              <small class="text-center"></small>
          </a>
      </li>
      <li><a [routerLink]="['/dashboard']"  class="waves-effect"><i class="fa fa-home"></i> <span
              class="hide-menu">Home</span></a></li>
      <li>
          <a [routerLink]="['/fav']">
              <i class="fa fa-edit"></i>
              <span class="hide-menu">Favorite Players</span>
          </a>
      </li>
    
     
  </ul>
</div>


