<div class="sidebar hidden-sm-down">
  <ul class="nav in" id="side-menu">

      <li class="user-pro">
          <a href="#" class="text-center">
              <div class="profile-img">
                  <img src="assets/images/profile.jpg"/>
              </div>
              <span>John Doe</span>
              <small class="text-center">Senior Developer</small>
          </a>
      </li>
      <li><a [routerLink]="['/dashboard']"  class="waves-effect"><i class="fa fa-home"></i> <span
              class="hide-menu">Dashboard</span></a></li>
      <!-- <li class=""><a href="javascript:void(0);" class="waves-effect"><i class="fa fa-envelope-o"></i> <span
              class="hide-menu"> Mailbox <span class="fa arrow"></span><span
              class="label label-rouded label-danger pull-right">6</span></span></a>
      </li> -->
      <li>
          <a [routerLink]="['/fav']">
              <i class="fa fa-edit"></i>
              <span class="hide-menu">Favorite Players</span>
          </a>
      </li>
    
     
  </ul>
</div>
