<body>
<mat-card >
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form">
        <mat-form-field>
          <mat-label class="label">Username</mat-label>
          <input id="username" matInput [(ngModel)]="user.username" 
          name="username" (keydown.space)="$event.preventDefault();" required minlength="4" #username="ngModel">
          <!-- <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
              <div *ngIf="username">
                  UserName is required.
                </div>
          <div *ngIf="username">
            UserName must be at least 4 characters long.
          </div>
          
        </div> -->
           
        </mat-form-field>
  <br>
        <mat-form-field>
          <mat-label class="label">Password</mat-label>
          <input type="password" id="password" matInput [(ngModel)]="user.password" 
          name="password" (keydown.space)="$event.preventDefault();"
          required minlength="8" #password="ngModel">
          
          <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)" >
              <div *ngIf="password">
                  Password is required.
                </div>
          <div *ngIf="username">
            Password must be at least 8 characters long.
          </div>
          
        </div> -->
        </mat-form-field>
      </form>
    </mat-card-content>
    
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="login()" (click)="gotohome()">
        Login
      </button>
      <button mat-raised-button color="accent" [routerLink]="['/register']">
        Register
      </button>
    </mat-card-actions>
  </mat-card>
</body>