
        <div class="row row-stat">
            <div class="col-sm-12">
                <div class="row">


                    <div class="form-group">
                        <strong>Date</strong>
                        <select class="form-control"
                                [(ngModel)]="date">
                          <option></option>      
                          <option  *ngFor="let match of matches[0]  | filterUnique : date" value={{match.date}}>{{match.date |date}}</option>
                        </select>
                      </div>  

                      
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-no-divider"><span class="panel-subtitle">List of
                                    your Upcoming Matches</span>
                            </div>

                            <div class="table-responsive">
                                <table class="table  table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Team1</th>
                                            <th>Team2</th>
                                           
                                            <th>Toss won</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let match of matches[0] |   tableFilter: date  ">
                                            
                                                <td>{{match.date | date}}</td>
                                                <td>{{match.team-1}}</td>
                                                <td> {{match.team-2}}</td>
                                            
                                                <td>{{match.toss_winner_team}}</td>
                                                <td *ngIf="match.matchStarted; else elseBlock">Match Started</td>
                                                <ng-template #elseBlock>
                                                    <td>Match not started</td>
                                                </ng-template>
                                          

                                        </tr>




                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- 
<mat-card class="inline-block" inline-block *ngFor="let note of players[0]">
    {{note}}
</mat-card> -->

<!-- <div *ngFor="let player of players[0]"> -->

<!-- </div> -->