
       
          

<div class="bg">

                  

                   
                        <div >
                            <mat-toolbar class="title">
                                <span>Hello {{user}}, take a look at the Upcoming Matches Schedule</span>
                              </mat-toolbar>
                            
                              <div>
                                <strong style="color: aliceblue;width:auto;margin: 10px;">Date</strong>
                                <select style="width: 150px;"   [(ngModel)]="date">
                                  <option></option>      
                                  <option  *ngFor="let match of matchDate  | filterUnique : date" value={{match}}>{{match |date}}</option>
                                </select>
                              </div> 
                              <br> 

                            <div class="table-container">
                                <table class=" table-striped  ">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Team1</th>
                                            <th>Team2</th>
                                           
                                            <th>Toss won</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let match of matches |   tableFilter: date  ">
                                            
                                                <td>{{match.date | date}}</td>
                                                <td>{{match.team1}}</td>
                                                <td> {{match.team2}}</td>
                             

                                                <td *ngIf="match.toss_winner_team; else elseBlock2">{{match.toss_winner_team}}</td>
                                                <ng-template #elseBlock2>
                                                    <td> - </td>
                                                </ng-template>


                                                <td *ngIf="match.matchStarted; else elseBlock">Match Started</td>
                                               
                                                <ng-template #elseBlock>
                                                    <td>Match not started</td>
                                                </ng-template>
                                          

                                        </tr>




                                    </tbody>
                                </table>


                            </div>
                        </div>
                
            
      </div>

<!-- 
<mat-card class="inline-block" inline-block *ngFor="let note of players[0]">
    {{note}}
</mat-card> -->

<!-- <div *ngFor="let player of players[0]"> -->

<!-- </div> -->