.inline-block {
    display: inline-block;
    width: 500px;
    /* height:150px; */
    margin: 1%;
  }

  .inline-block-header {
    display: inline-block;
    /* width: 200px;
    height:50px; */
    margin: 1%;
  }

  .example-card {
    display: inline-block;
    max-width: 500px;
    margin: 4px
    }

  mat-card img{
    object-fit: scale-down; /*this makes the image in src fit to the size specified below*/
    width: 40%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 0%;
  }

  mat-card-title{
    color:green;
    font-size:40px
    }