<div  class="bg">
        

  <form>
    <mat-form-field  >
      <input class="searchbar" type="text" matInput #term (keyup)="getSearchText(term.value)">
      <mat-placeholder>Search : type atleast 3 letters</mat-placeholder>
      <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
    </mat-form-field>
  </form>
  <mat-toolbar class="title">
    <span>Top favourites Players Around the World</span>
  </mat-toolbar>
  <div *ngIf="playerDisplayed">
  <mat-card class="inline-block" *ngFor="let note of playerDisplayed, let i = index">


    <mat-card-header class="inline-block-header">
      <mat-card-title>
        {{note.name}}
      </mat-card-title>

    </mat-card-header>
    <div *ngIf="note.imageURL!=null; else elseBlock">
      <img mat-card-image src="{{note.imageURL}}" alt="" (error)="updateUrl($event)">
    </div>
    <ng-template #elseBlock>
      <img mat-card-image src='../../assets/images/dummy.jpg' alt="">
    </ng-template>
    <div *ngIf="error">
      <img mat-card-image src="{{imgsrc}}">
    </div>


    <mat-card-content>
      <table>
        <tr>
      
        </tr>

      </table>


      <br>
      <button mat-raised-button color="primary" class="bottom" (click)="openDialog(note)">View Info</button>
      <!-- <button mat-icon-button (click)="toggleSelected(note,i)">

        <mat-icon *ngIf="selected" aria-label="Example icon-button with a heart icon"
          style="background-color:palevioletred; color:white">
          favorite
        </mat-icon>

        <mat-icon *ngIf="!selected" aria-label="Example icon-button with a heart icon">
          favorite_border
        </mat-icon>

      </button> -->

      <button id="favourite+{{i}}" class="heart" mat-icon-button (click)="toggleSelected(i,note)"
    data-toggle="tooltip" data-placement="top" title="Add to favourites">
    <mat-icon *ngIf="playerDisplayed[i].favourite" aria-label="Example icon-button with a heart icon">
      favorite
    </mat-icon>
    <mat-icon *ngIf="!playerDisplayed[i].favourite" aria-label="Example icon-button with a heart icon">
      favorite_border
    </mat-icon>
  </button>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="!playerDisplayed">
  No results
</div>






</div>

<!-- <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
    [animation]="'slide'">
<mdb-carousel-item *ngFor="let item of slides; let i = index">
<div class="col-md-4" *ngFor="let card of item; let cardIndex = index">
<mdb-card class="my-1">
<mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
<mdb-card-body>
<mdb-card-title>
  <h4>{{card.title}}</h4>
</mdb-card-title>
<p>{{card.description}}</p>
<a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>
</mdb-card-body>
</mdb-card>
</div>
</mdb-carousel-item>
</mdb-carousel> -->
