
.bg{
    background-image: url("../../assets/images/CrickBg2.jpg"); 
    background-size: contain;
  
  
  }
  
  .inline-block-header {
    display: inline-table;
    /* width: 200px;
    height:50px; */
    margin: 1%;
    width: calc(100% - 70px);
    height: calc(100% - 200px);
   
  }
  
  
    .searchbar{
      border-radius: 25px;
      border: 2px solid #279188;
      background-color: whitesmoke;
      padding: 0px 5px 10px 5px;
      height: auto;
      color: green;
      opacity: 0.5;  
      /* width: 95%; */
  /* margin-top: 10px; */
  /* padding: 1%; */
  
    }
  
    .example-button-row {
      display: table-cell;
      width: 490px;
    }
    
    .example-button-row .mat-button-base {
      margin: 8px 8px 8px 0;
    }
  
    .title{
      opacity: 0.7;
      justify-content: center
    }
    
  
    mat-card{
      /* height: 200px; */
     
        display: inline-block;
        width: 150px;
        text-align: center;
        /* height:250px; */
        margin: 1%;
        border-radius: 16px;
        background-color:rgb(189, 245, 245);
      
    }
  mat-card img{
    
    height: 150px;
    object-fit: contain; /*this makes the image in src fit to the size specified below*/
    width: 150px; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height:150px;
  }
  
  mat-form-field{
  width: 95%;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
  } 
  mat-card-actions{
  display: flex; justify-content: start; flex-direction: column; flex-wrap: wrap;
  
  }
  
  mat-card-title{
    flex-shrink: 0;
    color:green;
    font-size:40px
    }
  
  mat-card-content{
    /* display: wrap; */
    flex-grow: 1;
    overflow: auto;
  }
  
  .bottom{
    margin-bottom: 1%;
  }
  
   .mat-input-placeholder {
    /* padding: 10px; */
    box-sizing: border-box;
  }
  
  .cards-main{
  
   
    text-align: center;
  
  }
  
  