<!-- <body>
  <form class="login-form" #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    <mat-card class="bg">
      <mat-card-header>
        <mat-card-title> Register </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label class="label">Username</mat-label>
          <input id="username" class="matInputdata" matInput [(ngModel)]="user.username" name="username" required
            minlength="4" #username="ngModel">

        </mat-form-field>
        <div *ngIf="username.invalid && (username.dirty || username.touched)">
          <div *ngIf="!username" class="validation_error">

            First Name is Required!
          </div>

          <div *ngIf="username.errors?.minlength" class="validation_error">
            UserName must be at least 4 characters long.
          </div>

          <div class="formError" *ngIf="this.username.hasError('alreadyExist')">
            *this username already exists in our database</div>
        </div>
        <br>
        <mat-form-field>
          <mat-label class="label">Email</mat-label>
          <input id="email" class="matInputdata" matInput [(ngModel)]="user.email" name="email" required
            #email="ngModel" email>

        </mat-form-field>

        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="!email" class="validation_error">

            Email is Required!
          </div>

          <div *ngIf="email.touched && email.errors?.email" class="validation_error">
            Email is not Valid!
          </div>
        </div>
        <br>
        <mat-form-field>
          <mat-label class="label">Password</mat-label>
          <input type="password" id="password" class="matInputdata" matInput [(ngModel)]="user.password" name="password"
            required #password="ngModel" invalidPassword (keyup)="checkPassword()">

        </mat-form-field>
        <div *ngIf="passInvalid" class="validation_error">
          {{passInvalidMessgage}}
        </div>


        <div *ngIf="(password.dirty || password.touched)">
          <div *ngIf="!password" class="validation_error">

            Password is Required!
          </div>




          <div *ngIf="password.touched && password.errors?.invalidPassword" class="validation_error">
            Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
            letter and 1 number!
          </div>
        </div>
        <br>

        <mat-form-field>
          <mat-label class="label">Confirm Password</mat-label>
          <input type="password" id="password2" class="matInputdata" matInput [(ngModel)]="user.password2"
            name="password2" required #password2="ngModel" (keyup)="passwordNotSame()">
        </mat-form-field>
        <div *ngIf="(password2.dirty || password2.touched)">
          <div *ngIf="!password2" class="validation_error">

            Password is Required!
          </div>

          <div *ngIf="val" class="validation_error">
            Passwords are not same !
          </div>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <button type="submit" class="register-user" mat-raised-button color="accent">
          Register
        </button>


      </mat-card-actions>
    </mat-card>
  </form>
</body> -->


<body justify-content-center>
  <div class="title" >Register to Cric Player Application</div>
  
  <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
    <hr>
  
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email">
        <span class="validation_error"
            *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
            Email is required
        </span>
        <span class="validation_error"
            *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
            Enter a valid email address
        </span>
      
    </div>
    <div class="form-group">
        <label>User Name</label>
        <input type="text" class="form-control" formControlName="username">
        <span class="validation_error"
            *ngIf="(registerFormControl.username.touched || submitted) && registerFormControl.username.errors?.required">
            User Name is required
        </span>
        <span *ngIf="registerFormControl.username.touched && registerFormControl.username.errors?.minlength" class="validation_error">
          UserName must be at least 4 characters long.
        </span>
        
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password"  (keyup)="checkPassword()">
        <span class="validation_error"
            *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
            Password is required
        </span>
  

        <span  *ngIf="passInvalid" class="validation_error"> Password should contain at least 1 uppercase , 1 lowercase and 1 number minimum 8 characters
         
        </span>
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword"  (keyup)="passwordNotSame()">
        <span class="validation_error"
            *ngIf="(registerFormControl.confirmPassword.touched || submitted)&& registerFormControl.confirmPassword.errors?.required">
            Confirm Password is required
        </span>
        
        <span  *ngIf="val" class="validation_error"> Passwords doesnot match
        </span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" >Register</button>
    </div>
</form>
</body>